@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200&display=swap');
*{
    margin:0; padding:0;overflow: hidden;
    
}
:root{
    --color : '#44eb44';
    --hpbar : 20px
}
html,body{
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Unbounded', cursive;
}
#timerDiv{
    position:absolute;
    left :20px;
    top:10px;
    font-size:40px

}
#reloading {
    position:absolute;
    top:30px;
    right:10px
}
#mag{
    font-size: 40px;
    position:absolute;
    bottom:1px;
    left:1px
}
#mag2{
    position:absolute;
    bottom:1px;
    right:1px;
}
#magDiv{
    position:absolute;
    height: 100px;
    width:100px;
    right: 5px;
    bottom: 5px;
}
#HealthDiv{
    position:absolute;
    color: var(--color);
    font-size: 40px;
    left: 20px;
    bottom:20px
}
#health{
    text-shadow:2px 2px 1px #05050525
}
#hpbar{
    position:absolute;
    bottom: 15px;
    left:25px;
    height:7px;
    width:100px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: #000;
}
#hpbarFiller{
    position:absolute;
    bottom: 15px;
    left:25px;
    height:7px;
    width:var(--hpbar);
    background-color: var(--color);
}
#canvas {
    width:100%;
    height:100%;
    display:block;
    
}